
@{
    ViewBag.Title = "Login";
}

<h2>登陆</h2>
<form action="@Url.Action("PostLogin")" method="post">
    <table class="table table-bordered">
        <tr>
            <td>用户名：</td>
            <td>
               <input type="text" name="username"  value=""/>
        </td>
    </tr>
    <tr>
        <td>密码</td>
        <td>
            <input type="password" name="password" value="" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="submit" >登陆</button>
           
        </td>
    </tr>

</table>



</form>

