
@{
    Layout = null;
    var a = 10.5;
    var b = 20;
    int v = 100;
}
@{ ViewBag.Title = "List";
    var newList = ViewBag.data as string[];
    var curpage = (int)ViewBag.Page;
    var start = curpage - 3;
}


    }


<!DOCTYPE html>

<html>
<head>
    <h3> 第 @ViewBag.Page 页 </h3>
    <meta name="viewport" content="width=device-width" />
    <title>yao</title>
    
</head>
<body>
    <div>
        <hi>第一个程序</hi>
        <div>结果：@ViewBag.sum</div>
        <div>@(a+b)</div>
        <div>@("TIME:" +DateTime.Now.ToString())</div>
       <div><ol>
           @foreach (var item in newList)
           { <li>@item </li>}

           </ol></div>
        <ol>
            @for (int i = start; i < curpage + 3; i++)
            {
                <li>
                    @*<a href="/Home/List?Page=@i"> 第 @i页</a>*@
                    @Html.ActionLink(string.Format("第{0}页", i), "yao", "Home", new { page = i }, null)
                </li>
            }


        </ol>

    </div>
</body>
</html>
