
@{
    Layout = null;
    var a = 10.5;
    var b = 20;
    int v = 100;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>yao</title>
</head>
<body>
    <div>
        <hi>第一个程序</hi>
        <div>结果：@ViewBag.sum</div>
        <div>@(a+b)</div>
        <div>@("TIME:" +DateTime.Now.ToString())</div>
   

    </div>
</body>
</html>
